#Header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #EFA300;
    width: 100%;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#ItemList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.item {
}

#img {
    background-image: url("../imgs/Logo.png");
    background-size: cover;
    width: 20px;
}